.wrapper {
    width: 100%;
    max-width: 400px;
}

.header {
    height: 100px;
    width: 400px;
    background-color: #141f40;
    position: relative;
}

.top-box {
    position: absolute;
    top: 5px;
    left: 210px;
    background: white;
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    height: 40px;
    padding: 10px;
}

.top-box li {
    width: 40px;
    height: 40px;
    list-style: none;
    background-color: #a9004b;
}

.main-left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.main-right {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    float: left;
    position: relative;
}

.middle-box {
    position: absolute;
    top: 25px;
    right: 60px;
}

.middle-box li {
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid white;
    margin-bottom: 10px;
    list-style: none;
}

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    clear: both;
}

.main-clearfix {
    overflow: auto;
    width: 400px;
}